<% if object.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(object.errors.count, "error") %>
      non permettono di salvare il nuovo utente.
      <%= object.class.to_s.underscore.humanize.downcase %>
    </h2>
    <p>Problema con i seguenti campi:</p>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

